html{
	@include mq(small){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 12px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
		}
	@include mq(medium){
		font-size: 13px;
}
	@include mq(large){
		font-size: 30px;
}
	@media(min-width: 1000px){
		font-size: 30px;
	}

}

body{
	@media(min-width: 1000px){
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		flex-grow: 1;
		height: 100%;
}
}

li{
	list-style: none;

}

img{
	@include mq(small){
	width: 300px;
	height: 300px;
	padding-left: 0;
}
	@include mq(medium){
	width: 400px;
	height: 400px;
	
}
	@include mq(large){
		width: 700px;
		height: 700px;
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
	@media(min-width: 1000px){
		width: 400px;
		height: 20%;
		padding-left: 0;
		justify-content: flex-start;
		margin-left: 20px;
		
	
	}
}

#products ul{
	@include mq(small){
 		height: 100%;
		background-color: white;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
}
	@media(min-width: 1000px){
		margin-right: 10px;
	}
}

#orderForm{
	@include mq(small){
 		height: 100%;
		background-color: $primary-color;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
}
	@include mq(large){
		margin-bottom: 25px;
	}
	
	@media(min-width: 1000px){
		margin-bottom: 0;
	}
	
	
}

#orderSummary{
	@include mq(small){
 		height: 100%;
		background-color: $secondary-color;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
}
}

#products p{
		@include mq(small){
			padding-left: 250px;

}
		@include mq(medium){
			padding-left: 340px;
			font-size: 17px;

}
		@include mq(large){
			padding-left: 620px;
			font-size: 35px;

}
		@media(min-width: 1000px){
			padding-left: 315px;
}
}

#size button{
	@include mq(small){
		font-size: 14px;
		text-align: center;
		background-color: $secondary-color;
    	width: 30%;
    	height: 30px;
    	@include brs(2px,2px,2px,2px);
 }
	 @include mq(medium){
	 	font-size: 16px;
	 	height: 35px;
    	margin-left: 5px;
	 }
	  @include mq(large){
	  	font-size: 28px;
	 	height: 60px; 
    	margin-left: 12px;
	 }
	 @media(min-width: 1000px){
	 	width: 25%;
	 	font-size: 12px;
	 	margin-left: 20px;
	 }
	 } 

button:first-of-type{ 
	margin-right: 5px; 
}

button:nth-of-type(even){ 
	margin-right: 5px;
} 

#color button{
	@include mq(small){
		width: 22%;
    	height: 30px;
    	background-color: green;
}
	@include mq(medium){
		height: 35px;
		width: 23%;
}
	@include mq(large){
		height: 60px;
		margin-left: 3px;
}
	@media(min-width: 1000px){
		width: 20%;
		margin-left: 8px;
	}
}

#color button:nth-of-type(1){
		@include mq(medium){
		
}
}

#color button:nth-of-type(3){
		@include mq(small){
		margin-right: 5px;
		background-color: #2F4F4F;

}
}

#color button:nth-of-type(2){
		@include mq(small){
		background-color: #DC143C;
}
}

#color button:nth-of-type(4){
		@include mq(small){
		background-color: blue;
}
}

form{
	@include mq(small){
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
}
}

#fullName{
	@include mq(small){
		width:  85px; 
		margin-right: 5px;
		margin-bottom: 10px;
		
}
	@include mq(medium){
		width:  120px; 
		margin-right: 40px;
		margin-bottom: 15px;
}
	@include mq(large){
		width: 230px;
		height: 30px;
		margin-bottom: 20px;
}
 	@media(min-width: 1000px){
 		display: flex;
 		width: 350px;
 		margin-left: 10px;
 		margin-right: auto;
 		margin-bottom: 20px;
 		height: 50px;

 	}
 }

#email{
	@include mq(small){
		width:  85px; 
		margin-right: 5px;
		margin-bottom: 10px;
} 
	@include mq(medium){
		width: 120px; 
}
	@include mq(large){
		width: 230px;
		height: 30px;
}
	@media(min-width: 1000px){
 		display: flex;
 		width: 350px;
 		margin-left: 10px;
 		margin-right: auto;
 		margin-bottom: 20px;
 		height: 50px;

 		
 	}
}

#address{
	@include mq(small){
		width: 85px; 
		margin-right: 8px;
		margin-bottom: 10px;
		
}
	@include mq(medium){
		width: 120px; 
		margin-right: 40px;
		margin-bottom: 15px;
		
}
	@include mq(large){
		width: 210px; 
		height: 30px;
		margin-bottom: 20px;
}
	@media(min-width: 1000px){
 		display: flex;
 		width: 120px;
 		margin-left: 10px;
 		margin-right: 100px;
 	}
}

#address2{
	@include mq(small){
		width: 85px; 
		
}
	@include mq(medium){
		width: 120px;  
}
	@include mq(large){
		width: 210px; 
		height: 30px;
		
}
	@media(min-width: 1000px){
 		display: flex;
 		width: 120px;
 		
 		margin-right: 5px;
}
} 
 
#city{
	@include mq(small){
		 width: 60px; 
		 margin-right: 8px;
		 margin-bottom: 15px;
		
} 
		@include mq(medium){
		 width: 95px; 
		
} 
	@include mq(large){
		 width: 150px;
		 height: 30px; 
		 margin-right: 35px;
		 margin-bottom: 20px;
} 
	@media(min-width: 1000px){
		display: flex;
		width: 80px;
		margin-right: 50px;
		margin-left: 10px;
	
	}
}
	
#state{
	@include mq(small){
		 width: 60px; 
		 margin-right: 8px;
		 
} 
		@include mq(medium){
		 width: 95px; 
} 
	@include mq(large){
		 width: 150px;
		 height: 30px;
		 margin-right: 35px;
} 
	@media(min-width: 1000px){
		display: flex;
		width: 80px;
		margin-right: 50px;
	
	}
}

#zip{
	@include mq(small){
		 width: 60px;
} 
	@include mq(medium){
		 width: 95px; 
} 
	@include mq(large){
		 width: 150px;
		 height: 30px; 
		
} 
	@media(min-width: 1000px){
		display: flex;
		width: 80px;
		margin-right: 5px;
	
	}
}

select{
	@include mq(small){
		background-color: $neutral-color;
		display: flex;
}
	@include mq(large){
		height: 30px;
		

}
	@media(min-width: 1000px){
		display: flex;
		width: 360px;
		margin-left: 10px;
		margin-right: 10px;
		height: 60px;
	
	}
}

#orderSummary ul{
	padding-left: 0;
}

#orderSummary li:nth-of-type(1){
		@include mq(small){
			display: flex;
			flex-direction: row;
		
}

h3{
	width: 85%;
}
	@media(min-width: 1000px){
		h3{
			width: 75%;
			margin-left: 5px;
		
		}
	
	}

} 

#orderSummary li:nth-of-type(2){
		@include mq(small){
			display: flex;
			flex-direction: row;
		
}

h3{
	width: 85%;
	
}
	@media(min-width: 1000px){
		h3{
			width: 75%;
						margin-left: 5px;

		} 
		}
}

#orderSummary li:nth-of-type(3){
		@include mq(small){
			display: flex;
			flex-direction: row;
		
}

h3{
	width: 85%;
}
	@media(min-width: 1000px){
		h3{
			width: 75%;
			margin-left: 5px;

		} 
		}
}

#orderSummary p{
	@include mq(medium){
	font-size: 17px;
}
	@include mq(large){
	font-size: 25px;
}
@media(min-width: 1000px){
	font-size: 30px;
}
}


#complete{
	@include mq(small){
		font-size: 14px;
		text-align: center;
		background-color: green;
    	width: 80%;
    	height: 50px;
    	@include brs(2px,2px,2px,2px);
    	display: flex;
    	justify-content: center;
    	margin-left: 30px;
    	margin-top: 10px;

	
}
	@include mq(medium){
		font-size: 20px;
}
	@include mq(large){
		font-size: 30px;
		height: 60px;
		margin-left: 70px;
		 
}
	@media(min-width: 1000px){
		align-items: flex-end;
		margin-left: 30px;
	}
}

