$primary-color: #DCDCDC;
$secondary-color: #C0C0C0;
$font-stack: helvetica, Arial, san-serif;
$copy-color: black;
$neutral-color: white;
$font-size: 16px;

//mixin
@mixin brs($topLeft, $topRight, $bottomLeft, $bottomRight){
	border-top-left-radius: $topLeft;
	border-top-right-radius: $topRight;
	border-bottom-left-radius: $bottomLeft;
	border-bottom-right-radius: $bottomRight;
	}

@mixin mq($size){
	@if $size == small{
		@media (min-width: 300px){ @content; }
}
@else if $size == medium {
	@media (min-width: 400px) { @content; }
}
@else if $size == large{
	@media (min-width: 700px) { @content; }
}
}

html{
	@include mq(small){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 12px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
		}
	}

li{
	list-style: none;

}
img{
	width: 300px;
	height: 300px;
	padding-left: 0;

}

#products ul{
	@include mq(small){
 		height: 100%;
		background-color: white;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
}
}

#orderForm{
	@include mq(small){
 		height: 100%;
		background-color: $primary-color;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
}
}

#orderSummary{
	@include mq(small){
 		height: 100%;
		background-color: $secondary-color;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
}
}

#products p{
		@include mq(small){
			padding-left: 250px;

}
}

#size button{
	@include mq(small){
		font-size: 14px;
		text-align: center;
		background-color: $secondary-color;
    	width: 30%;
    	height: 30px;
    	@include brs(2px,2px,2px,2px);
 }
}

button:first-of-type{ 
	margin-right: 5px; 
}

button:nth-of-type(even){ 
	margin-right: 5px;
}

#color button{
		@include mq(small){
		width: 22%;
    	height: 30px;
    	background-color: green;
    	
		
}
}

#color button:nth-of-type(3){
		@include mq(small){
		margin-right: 5px;
		background-color: #2F4F4F;

}
}

#color button:nth-of-type(2){
		@include mq(small){
		
		background-color: #DC143C;

}
}

#color button:nth-of-type(4){
		@include mq(small){
		
		background-color: blue;

}
}

form{
	@include mq(small){
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		
			
	
}
}

#fullName{
	@include mq(small){
		width:  85px; 
		margin-right: 5px;
		margin-bottom: 10px;
}
}

#email{
	@include mq(small){
		width: 85px; 
}
}

#address{
	@include mq(small){
		width: 85px; 
		margin-right: 8px;
		margin-bottom: 15px;
}
}

#address2{
	@include mq(small){
		width: 85px; 
}
}

#city{
	@include mq(small){
		 width: 60px; 
		 margin-right: 8px;
		 margin-bottom: 15px;
} 
}
	
#state{
	@include mq(small){
		 width: 60px; 
		 margin-right: 8px;
} 
}

#zip{
	@include mq(small){
		 width: 60px;
		  
} 
}

select{
	@include mq(small){
		background-color: white;

}
}





